/* .cv {
    padding: 1.25rem;
    margin: 3.125rem 6.25rem 3.125rem 6.25rem;
    box-shadow:
          
               0.3em 0.3em 1em rgba(0,0,0,0.3);
  } */
.cv{
    padding: 1.25rem;

}
.sticky-top{
    position: -webkit-sticky;
    position: fixed; 
    /* position: fixed; */
    top: 50%;
    /* left: 80%; */
    z-index: 1030;
    padding: 0;
 }
#foto{
    width:250px;
    height:250px;
    border-radius:150px;
}
.cabezera{
    padding-top: 50px;
    padding-bottom: 50px ;
    /* margin-right: 200px; */
 }
 .carta{
    /* margin: 100px; */
    
       
}  
nav div.row div.col{
padding: 20px 0px 20px 0px;
}
 
@media (max-width: 1700px){
     
     
    p{
        background-color: red;
    }
   
    .sticky-top{
        /* position: fixed; */
        /* top: 0; */
        /* left: 80%; */
      }
}
@media  (min-width: 1400px) and (max-width: 1700px) {
    .carta{
        /* max-width: 1000px; */
        width: calc(100vw - 400px);
    }
 }
 @media  (max-width: 1400px)  {
    .sticky-top{
        /* position: fixed; */
        top: 0;
        position: sticky;
        /* left: 80%; */
      }
      #nav{
        padding: 0px;
      }
      
      div nav div.row div.col{
        padding: 10px 0px 10px 0px;    } 
    }
